body {
    background-color: green;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
h1{
    text-align: center;
    font-size: 2rem;
    color: white;
    padding: 10px 0 10px 0;
}
h2{
  font-size: 1.5rem;
}
th{
  background-color: lightsteelblue;
}
/*-------------------------------------------メイン---------------------------------------*/

/*---------レース名---------*/
.race_name_box{
  text-align: center;
  padding: 10px 0;
  background-color: green;
}
.race_name{
  width: 500px;
  font-size: 1.5rem;
  outline: none;
  font-weight: bold;
  text-align: center;
  background-color: green;
  color: white;
}

/*--------テーブル--------*/

table{/*table全体*/
    background-color: white;
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
}
table th {/*table内のthに対して*/
  padding: 10px;
}

table td {/*table内のtdに対して*/
  padding: 3px 10px;
  height: 25px;
  vertical-align: middle;
}
table th, table td {
  border: solid 1px black;
  /*実線 1px 黒*/
}
select{
  width: 50px;
  font-size: 1.5rem;
}
/*--枠番--*/
.waku{
  text-align: center;
}
/*--人の名前--*/
.human_name{/*th*/
width: 50px;
outline: none;
font-size: 1rem;
font-weight: bold;
text-align: center;
background-color: lightsteelblue;
}
/*--馬の名前--*/
.horse_name{/*td*/
    font-weight: bold;
}
.horse_name_text{/*input*/
outline: none;
font-size: 1rem;
font-weight: bold;
text-align: center;
}

/*--------保存ボタン--------*/
.button_box{
  text-align: center;
  padding: 5px 0;
}
button{
  text-align: center;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
}
button:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}
/*---------記号の意味<ポップアップ>--------*/
.popup {
    display: none;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.466);
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
}
.content{
    background: #fff;
    color: #000000;
    padding: 30px;
    width: 50%;
}
.content div{
  font-size: 1.5rem;
    padding: 10px 0;
}
.content div p{
  text-align: left;
  margin: 10px 10% 10px 10%;
}
.show {
    display: flex;
    justify-content: center;
    align-items: center;
}
